@model IEnumerable<EngineeringBlog.Models.SubjectViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron ">
    <div class="transparent-background">
        <h1>Engineering Bot</h1>
        <p class="lead">I am just a helper for you Exam......</p>
    </div>
    
</div>

<div class="row">
    @foreach(var concept in Model.ToList()){
        <div class="col-md-4">
            <h2>@concept.Name</h2>
            <p>
               @concept.About
            </p>
            <p><a class="btn btn-default" href="@concept.Url">Learn more &raquo;</a></p>
        </div>
    }
</div>